/* Generic HTML tags */

body {
    font-family: Arial, Verdana, sans-serif;
}

select {
    border: 2px #cccccc solid;
    border-radius: 5px;
    background-color: #fff;
}

/* Map styling */

.map {
    width: 700px;
    height: 400px;
}

.color-legend {
    width: 200px;
    float: left;
}

.map-option {
    /*padding-right: 10px;*/
}

.colorscale {
    height: 400px;
}

.left {
    float: left;
}

.choices-row {
    padding-bottom: 5px;
}

.choices-title {
    display: inline-block;
    font-size: 90%;
    width: 120px;
    vertical-align: top;
}

.data-text {
    padding-top: 7px;
    font-size: 90%;
    font-style: italic;
}

.country-group {
    font-weight: bold;
    font-style: italic;
}